#profile-page {
  width: 100%;

  display: flex;
  justify-content: center;
}

.profile-form-wrapper {
  margin-top: 48px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form-wrapper .profile-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  text-transform: uppercase;
}

.profile-form-wrapper .profile-img {
  margin-top: 16px;

  width: 208px;
  height: 208px;

  border: 1px solid #000;
  border-radius: 4px;
  object-fit: cover;
}

.profile-form-wrapper .profile-form {
  margin-top: 16px;

  width: 208px;
}

.profile-form .upload {
  margin-bottom: 24px;
}

.profile-form .save {
  background-color: #fff;
  color: #000;

  transition: background-color 0.2s;
}

.profile-form .save:hover {
  background-color: rgba(0, 0, 0, 0.16);
  opacity: 1;
}
