.product-item-list-wrapper {
  position: relative;

  width: 100%;
  height: 108px;

  display: flex;

  border: 1px solid #000;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.product-item-list-image {
  width: 108px;
  height: 108px;

  object-fit: cover;
}

.product-item-list-column {
  margin-left: 8px;

  width: 224px;

  display: flex;
  flex-direction: column;
}

.product-item-list-name {
  margin-top: 8px;

  width: 100%;

  color: #000;
  font-weight: 500;
  line-height: 23px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-item-list-price {
  margin-top: 4px;

  width: 100%;

  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.product-item-list-installments {
  width: 100%;

  font-size: 14px;
  line-height: 20px;
}

.product-item-list-installments .price {
  font-weight: 700;
}

.product-item-list-rating {
  margin-top: 36px;

  display: flex;

  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
}

.product-item-list-rating svg {
  margin-right: 14px;
}

.product-item-list-button {
  position: absolute;
  top: 0;
  right: 0;

  width: 108px;
  height: 100%;

  border-radius: 0;
}
